.mobiles-section {
    background: linear-gradient(to right, #2f3044, #3d4063);
    margin-top: 5rem;
    border-radius: 0 100px 0 100px;


    &__left {
        min-width: 500px;
        height: 540px;
        background-image: url(/images/illustration-phones.svg), url(/images/bg-pattern-circles.svg);
        background-size:  500px 500px;
        background-repeat: no-repeat;
        background-position: 57% 25%, 34% 51%, 14% 35%;
        margin-left: 4rem;
  
    }

    &__right {
        padding-right: 10rem;
        padding-left: 5rem;
        
        h3 {
            color: $white;
            font-size: 3rem;
            padding-bottom: 2rem;
        }
        p {
            color: $white;
            line-height: 2;
        }

    }

    @include breakpoint-up(large) {
        flex-direction: column;


        &__right {
            display: block;
            padding: 1rem 3rem 4rem 4.75rem;
            text-align: center;

        }
        &__left {
            background-position: center center;
            width: 500px;
            height: 500px;
            margin: 0;
        }
    }
}