// Fonts

$overpass: 'Overpass', sans-serif; //300 600
$ubuntu: 'Ubuntu', sans-serif;  // 400 500 700

//Colors
$lightRed: hsl(356, 100%, 66%);             //CTA text      Background gradient - Intro/CTA mobile nav
$veryLightRed: hsl(355, 100%, 74%);         //CTA hover background  Background gradient - Intro/CTA mobile nav
$veryDarkBlue: hsl(208, 49%, 24%);          //headings

$white: hsl(0, 0%, 100%);                   //text        
$grayishBlue: hsl(240, 2%, 79%);            //footer text
$veryDarkGrayishBlue: hsl(207, 13%, 34%);   //body copy  and  Background gradient - body
$veryDarkBlackBlue: hsl(240, 10%, 16%);     //footer background


// Font Size

$headings: 1.875rem;
$mobile-headings: 2rem;